.chicago.JPG {
    opacity: 0.5;
}

.tyrioncool {
    width: 150px;
    height: 200px;
}

.family-pic {
    width: 300px;
    height: 200px;

}

.song-pic {
    width: 300px;
    height: 200px;
}

.chicago {
    width: 150px;
    height: 200px;
}